{% extends "base.html" %}

{% block app_content %}
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center mb-6">
                            <img src="./demo/brand/tabler.svg" class="h-6" alt="">
                        </div>
                        <form class="card" action="" method="post">
                            {{ form.hidden_tag() }}
                            <div class="card-body p-6">
                                <div class="card-title">Reset password</div>
                                <p class="text-muted">Enter your email address and a link to reset your password will be
                                    sent to you.</p>
                                <div class="form-group">
                                    {{ form.email.label(class="form-label") }}
                                    {{ form.email(class="form-control", placeholder="Enter email") }}
                                </div>
                                <div class="form-footer">
                                    {{ form.submit(class="btn btn-primary btn-block") }}
                                </div>
                            </div>
                        </form>
                        <div class="text-center text-muted">
                            Forget it, <a href="{{ url_for('auth.login') }}">send me back</a> to the sign in screen.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}