<button class="float-btn" data-toggle="modal" data-target="#createPostModal">
    <i class="fa fa-plus"></i>
</button>
<div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="createPostCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createPostCenterTitle">Say Something</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="card" action="{{ url_for('general.main') }}" method="post">
                    {{ g.create_post_form.hidden_tag() }}
                    <div class="card-body p-6">
                        <div class="form-group">
                            {{ g.create_post_form.post.label(class="form-label") }}
                            {{ g.create_post_form.post(class="form-control", placeholder="Say something") }}
                        </div>
                        <div class="form-footer">
                            {{ g.create_post_form.submit(class="btn btn-primary btn-block") }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
