{% extends "base.html" %}

{% block app_content %}
    <div class="page chat-page">
        <div class="flex-fill chat-fill">
            {% include 'partials/header_content.html' %}
            <div class="container chat-contain">
                <div class="layout">
                    <div class="side-m">
                        <div class="page-header">
                            <h1>Chats</h1>
                        </div>
                        <div class="d-flex chat-users">
                            {%  for friend in friends %}
                                <div class="user">
                                <img class="chat-avatar" src="{{ friend.user_image }}" alt="user-image">
                                <div class="username">{{ friend.username }}</div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="m-chat">
                            {% for message_obj in last_messages %}
                                <div class="chat-card">
                                <div class="d-flex">
                                    <div class="img-sec">
                                        <img class="chat-avatar" src={{ message_obj.image }}>
                                    </div>
                                    <div class="message-content">
                                        <div class="d-flex justify-content-between align-content-center">
                                            <h5 class="chat-username">{{ message_obj.username }}</h5>
                                            <p class="chat-time">{{ moment(message_obj.time).fromNow() }}</p>
                                        </div>
                                        <div class="chat-text-truncate">
                                            {{ message_obj.message }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="side-f">
                        <div class="messaging-body flex-column flex-nowrap d-flex align-items-center">
                            <div style="margin-top: 50%">
                               <h3>You don't have a message selected </h3>
                                <p>Choose one from your existing messages, or start a new one.</p>
                            </div>
                        </div>
                        {% if not True %}
                            <div class="messaging-body flex-column flex-nowrap d-flex">
                                <div class="message-receiver-header d-flex">
                                    <div class="user">
                                        <img class="chat-avatar" src="/static/images/faces/2.jpg">
                                    </div>
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <h5>Thomas</h5>
                                        <p>online</p>
                                    </div>
                                </div>
                                <div class="chat-content flex-column d-flex">
                                    <div class="chat-left d-flex align-items-end">
                                        <div class="user">
                                            <img class="chat-avatar" src="/static/images/faces/2.jpg">
                                        </div>
                                        <div class="chat-received">
                                            loetsh hdbdgxbsjssbdjcn ghmbmvgvgvg
                                            gvgfhfhfgffcvvnvgn fdgjgjcfc nckhh jjihb
                                            hmhhg vgvgjfhfc gvghvvhf ggjffhfgcf lhlb hgbvgc nvjcmb ,lgk bj,vgmcfhcxf
                                        </div>
                                        <div class="chat-received-time">10:11 am</div>
                                    </div>
                                    <div class="chat-divider">
                                        Today
                                    </div>
                                    <div class="d-flex align-items-end chat-right">
                                        <div class="chat-sent-time">10:11 am</div>
                                        <div class="chat-received">
                                            loetsh hdbdgxbsjssbdjcn ghmbmvgvgvg
                                            gvgfhfhfgffcvvnvgn fdgjgjcfc nckhh jjihb
                                            hmhhg vgvgjfhfc gvghvvhf ggjffhfgcf lhlb hgbvgc nvjcmb ,lgk bj,vgmcfhcxf
                                        </div>
                                        <div class="user sender">
                                            <img class="chat-avatar" src="/static/images/faces/2.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-footer">
                                    <div class="input-group chat-send">
                                        <textarea class="form-control" placeholder="Message"></textarea>
                                        <button type="button" class="btn btn-primary">
                                          <i class="fe fe-send"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'partials/footer.html' %}
    </div>
{% endblock %}